<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.flt.hockeyapp" version="0.1.0">
    <name>hockeyapp-phonegap</name>
    <description>Integrates the Android HockeyApp API with PhoneGap</description>
    <license>free, whatever</license>

    <!-- instruct Phonegap to provide the HockeyApp javascript object --> 
    <js-module src="www/hockeyapp.js" name="HockeyApp">
        <clobbers target="window.HockeyApp" />
    </js-module>
 
    <platform name="android">
    
        <!-- register HockeyAppPlugin with Phonegap -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HockeyAppPlugin">
                <param name="android-package" value="com.flt.HockeyAppPlugin"/>
            </feature>
        </config-file>
         
        <!-- amend manifest file: add the AuthorisationService, CommandQueueService, HeartbeatService -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="net.hockeyapp.android.UpdateActivity" />
            
        </config-file>
        
         <!-- permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <!-- libraries -->
        <source-file src="libs/HockeySDK-3.0.1.jar" target-dir="libs" framework="true" />
        
        <!-- source code -->
        <source-file src="src/HockeyAppPlugin.java" target-dir="src/com/flt/hockeyapp/" />
        
    </platform>         
</plugin>