<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.hockeyapp.cordova" version="0.1.0">
    <name>hockeyapp-phonegap</name>
    <description>Integrates the iOS and Android HockeyApp APIs with PhoneGap</description>
    <license>The MIT License, same as the HockeyApp SDK</license>

    <!-- instruct Phonegap to provide the HockeyApp javascript object -->
    <js-module src="www/hockeyapp.js" name="HockeyApp">
        <clobbers target="window.HockeyApp" />
    </js-module>

	<!-- iOS -->
	<platform name="ios">

        <!-- register HockeyApp with Phonegap -->
		<config-file target="config.xml" parent="/*">
			<feature name="HockeyApp">
				<param name="ios-package" value="HockeyApp" />
			</feature>
		</config-file>

		<!-- Source Code -->
		<header-file src="src/ios/HockeyApp.h" />
		<source-file src="src/ios/HockeyApp.m" />

		<!-- Resoucres
		<resource-file src="src/ios/HockeySDK.embeddedframework/HockeySDK.xcconfig" />
		<resource-file src="src/ios/HockeySDK.embeddedframework/HockeySDKResources.bundle" />
		-->

        <!-- Frameworks -->
        <framework src="libs/ios/HockeySDK.embeddedframework/HockeySDK.framework" custom="true" />

		<!-- System frameworks -->
		<framework src="CoreText.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="Foundation.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="Security.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="UIKit.framework" />

	</platform>

	<!-- Android -->
    <platform name="android">

        <!-- register HockeyApp with Phonegap -->
        <config-file target="config.xml" parent="/*">
            <feature name="HockeyApp">
                <param name="android-package" value="com.hockeyapp.cordova.HockeyApp"/>
            </feature>
        </config-file>

        <!-- amend manifest file application tag to include the Update and Feedback activities -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="net.hockeyapp.android.UpdateActivity" />
            <activity android:name="net.hockeyapp.android.FeedbackActivity" />
        </config-file>

         <!-- permissions required for HockeyApp access - INTERNET, and WRITE_EXTERNAL_STORAGE -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <!-- libraries -->
        <source-file src="libs/android/HockeySDK-3.0.1.jar" target-dir="libs" framework="true" />

        <!-- source code -->
        <source-file src="src/android/HockeyApp.java" target-dir="src/com/hockeyapp/cordova/" />

    </platform>
</plugin>